@import url('https://fonts.googleapis.com/css?family=Roboto');
body:before{
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(5px);    
    background-image: url("http://loremflickr.com/800/600/love"); 
    background-size: cover;
}
.header{
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
}

.title{
    font-size: 50px;
    color: white;
}

.divider {
    height: 3px;
    background: white;
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
}


/* * SlotMachine*/


#randomize {
    background: rgba(255, 0, 0, 0.7);
    padding-top: 50px;
    margin-top: 50px;
    border: 1px solid white;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.matchButtonDiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.machineDiv{
    position: relative;
}
.randomizeMachine {
    width: 200px;
    height: 200px;
    padding-top: 20px;
    border-radius: 5px;
}

#name1, #name2 {
    font-size: 30px;
    position: absolute;
    z-index: 2;
    transform: rotate(-20deg);
    color: white;
    text-shadow: 0 0 2px black;
    left: 50%;
    bottom: -100px;
    transform: translate(-50%);

    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.btn-group, .addButton{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.machines{
    border-radius: 20px;
}
.results{
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.check{
    font-size: 90px;
    color: white;
}

.container .logs {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logTitle {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;


}

.message {
    font-size: 20px;
}

.matchDiv {
    background: white;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 5px dotted black;
    animation: borderBlink 0.3s step-start 0s infinite;
    
}

.matchDiv img {
    width: 80px;
    border-radius: 50%;
}

.matchImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.matchNames {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}

.matchNumber {
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: lawngreen;
}

.hide{
    display: none;
}

.matchesLog{
    overflow-y: scroll;
    height: 250px;
}

@keyframes blink {
    50% {
        background: rgba(247, 255, 39, 0.7);
    }
}

@keyframes softBlink {
    50% {
        background: rgba(255, 10, 200, 0.7);
    }
}

@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: red    
    }
}

.blink {
    animation: blink 0.3s step-start 0s infinite;
}

.spinning{
    animation: softBlink 0.5s step-start 0s infinite;
}

.load {
    position:   fixed;
    z-index:    10;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

input{
    width: 300px;
}
